body {
  overflow-y: scroll;
}

.header {
  background: rgba(43, 178, 199, 0.84);
  padding: 40px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 20px;
}

.avatar {
  width: 100%;
  padding: 5px;
  border-radius: 100%;
}
